html {cursor: url("../misc/miku.cur"), auto;}
.nav ul li a {cursor: url("../misc/miku_select.cur"), pointer;}
table {width:100%;font-size:37px;}
th {border:outset;border-color:var(--darker-grey);padding:3px 9px 3px 9px;margin:2px;}
td {text-align:left;border:outset;padding:3px 9px 3px 9px;}
td img {display:inline-block;vertical-align:top;align:center;width:32px;height:auto;}
td:nth-child(odd) {border-color:var(--miku);}
td:nth-child(even) {border-color:var(--purple);}
th:nth-child(1) {width:50%;}
th:nth-child(2) {width:20%;}
th:nth-child(3) {width:20%;}
th:nth-child(4) {width:10%;}
