:root {
	--greeny:#009800;
	--greener:#009300;
	--light-grey:#2b2b2b;
	--white:#ffffff;
	--green:#004100;
	--purple:#8e00b8;
	--light-purple:#7272ff;
	--neon-green:#3fff00;
	--blue:#6757ff;
	--red:#ff1818;
	--dark-green:#003000;
	--miku:#52e7df;
}

@font-face {font-family:"NotJamSlab"; src:url("./misc/NotJamSlab14.ttf")}
@font-face {font-family:"XP"; src:url("./misc/W95.otf")}
@font-face {font-family:"ZX"; src:url("./misc/ZXSpectrum.ttf")}

html {cursor:url("./misc/Bug.cur"), default}

body {font-family:"ZX"; margin:0px; padding:0px; background-color:var(--green); color:var(--white)}
body img {display:block; width:100%; height:auto}
h1 {margin:0px; font-size:90px; padding:12px; font-style:italic}
h1:before {content:">>"}
h2 {margin:0px}
em {color:var(--miku)}
a {color:var(--blue); cursor:url("./misc/Bug.cur"), default}
code {}
hr {margin:12px; color:var(--greener)}
p {margin:0px}

nav ul {list-style:none; background-color:var(--green); padding:0px; margin:0px; text-align:center; position:fixed; z-index:1; width:100%}								/* 1 */
nav li {display:inline-block}
nav li a {float:left; color:var(--white); display:block; font-family:"NotJamSlab"; text-align:center; padding:13px; font-size:24px}
nav li:nth-child(n) a:hover {background-color: var(--purple)}
nav li:nth-child(2n) a:hover {background-color: var(--blue)}
nav li:nth-child(3n) a:hover {background-color: var(--red)}
nav li:nth-child(4n) a:hover {background-color: var(--neon-green)}
nav li:nth-child(1) {float:left}
nav li:nth-child(8) {float:right}

.redirect {font-size:50px; text-align:center; margin-top:20px}
.redirect img {width:128px; height:auto; margin:auto}

.main {width:60%; float:left; text-align:center; font-size:40px; margin-top:50px; padding:0px}

.content {display:inline-block; width:90%; text-align:left;}
.content a {width:40%; text-decoration:none; text-align:center; padding-bottom:1%; margin:5% 4.25%; border-style:outset; display:inline-block; font-size:47px; border-color:var(--greener); color:var(--white); word-wrap:break-word}
.content a:hover {background-color:var(--greeny)}
.content a em {font-size:35px}
.content img {height:30%; width:95%; margin:auto}
.content ul {list-style:none; margin:1%}
.list_content {text-align:left; margin-left:4px; line-height:12px}
.list_content a {color:var(--white)}

.rec {text-align:left; margin-left:4px}
.updates {text-align:left; margin-left:4px; line-height:15px}
.updates em:before {content:">>"}
.files {text-align:left; margin-left:4px; line-height:15px}
.files a {color:var(--white); text-decoration:none}

aside {width:20%; float:left; font-size:37px; text-align:center; line-height:10px}
aside br {margin: 20px 0px}
aside img {width:88px; height:31px; display:inline-block; padding:0px}

.border {border-style:outset; border-color:var(--greener); background-color:var(--dark-green); padding-bottom:15px; margin:10px 5px}
.border br {margin-top:0px}
.bar {background-color:var(--greeny); padding:6px 3px 15px 3px; text-align:left; margin-bottom:10px; font-size:42px; line-height:30px}
.bar::after {content:url("./img/gtask24.png") url("./img/gmini24.png") url("./img/gclose24.png"); float:right}
